*{

margin: 0;
padding: 0;

}

body{
background-color: grey;


}

.Card{

background-color: skyblue;
width: 80%;
margin-left: 10%;
box-sizing: border-box;



}


.header{

height: 50px;
width: 100%;
background-color: purple;
margin-top: 20px;
border-radius: 2px;
border-top: 3px solid purple;
box-sizing: border-box;
box-shadow: 1px 0.3px 1px black;






}



 .Heading{
 text-align: center;
 margin-top: 10px;
 color: white;
 font-weight: bold;
 text-shadow: 3px 3px 1px black;

 }


 .part{
  text-decoration:none ;
  font-weight: bolder;
  color: black;
  position: relative;
  padding-left: 48%;
  padding-right: 48%;
  padding-top: 10px;
  padding-bottom: 10px;
  top: 3px;

   }


   .main{

      height: 500px;
      width: 90%;
      background-color:whitesmoke;
      margin-left: 5%;
      overflow: scroll;
      overflow-x: hidden;
     
      
      
      
      }
      



   .mainTwo{

      height: 500px;
      width: 90%;
      background-color:whitesmoke;
      margin-left: 5%;
      overflow: scroll;
      overflow-x: hidden;
      word-spacing: 20px;
      line-height: 50px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      
      }
      





.footer{
height: 50px;
width: 100%;
background-color: purple;
border-radius: 2px;
box-sizing: border-box;
box-sizing: border-box;
box-shadow: 1px 0.5px 1px black;

}


.line{
 height: 30px;
 width:90%;
 background-color:white;
 margin-top: 40px;
 margin-left: 5%;
 margin-bottom: 40px;
 border-radius: 5px;
 border:1px solid chocolate;
 box-sizing: border-box;
 box-shadow: 1px 0.5px 2px black;
 text-align: center;
 

}




 .line:hover{
  height: 30px;
  width:90%;
  background-color: olivedrab;
  margin-top: 40px;
  margin-left: 5%;
  margin-bottom: 40px;
  border-radius: 5px;
  border:1px solid  chocolate; 
  box-sizing: border-box;
  box-shadow: 1px 0.5px 2px black;
  transition: 0.3s;

 

 }
 



 .part:hover{
  color: aliceblue;

 

 }




 .Back{


 color: black;
 position: relative;
 left: 80%;
 color: yellow;
 background-color: purple;
 border: purple;
 font-size: 16px;
 cursor: pointer;
 text-decoration: none;
 top: -8px;
 font-weight: bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;


 }





 @media only screen and (max-width:750px) {
   .Back{


      color: black;
      position: relative;
      left: 68%;
      color: yellow;
      background-color: purple;
      border: purple;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;
      top: -8px;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

      }


   }




 .Home{
 
  color: black;
  position: relative;
  right: -10%;
  background-color: purple;
  border: purple;
  font-size: 16px;
  color: yellow;
  top: 12px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;

 }
